* {
	margin: 0px;
	padding: 0px;
}

h1, h2, h3, p {
	font-family: 'Work Sans', sans-serif;
}

.content {
	display: flex;
	justify-content: space-between;
}

.text {
	margin-right: 100px;
}

.image {
	margin-top: 60px;
	height: 800px;
	width: 700px;
	background-color: #e4e4e4;
}

.f_p {
	font-size: 50px;
}

.content_p {
	margin-top: 100px;
}

.cars {
	margin-top: 100px;
	width: 650px;
	margin-left: 15px;
}

.span_p {
	line-height: 1.5;
	margin-top: 40px;
	margin-bottom: 40px;
	font-size: 25px;
	text-decoration: underline;
}

.grey_p {
	line-height: 1.5;
	font-weight: bold;
	font-size: 20px;
	background-color: #e4e4e4;
	margin-bottom: 40px;
}

.p_in_grey {
	padding: 10px;
}

.teh-con {
	max-width: 1400px;
	margin: auto;
}

.prosto_p {

	line-height: 1.5;
	font-size: 17px;
}